<aside class="col-md-4 blog-sidebar">
  <div class="mb-3 bg-light rounded">
    <div class="card shadow mb-4" style="height: auto !important;">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold">O que está acontecendo</h6>
      </div>
      <div class="card-body" style="height: auto !important;">
        <p class="mb-0">Últimos comentários: </p>
        <span> <%= "#{current_user.email} comentou no post: #{@posts.last.title}" %> </span>
      </div>
    </div>
  </div>

  <div class="mb-3 bg-light rounded">
      <div class="card shadow mb-4" style="height: auto !important;">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Novidades</h6>
        </div>
        <div class="card-body" style="height: auto !important;">
          <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle" style="display: block; height: 252px;" data-ad-client="ca-pub-4937698584988968" data-ad-slot="1199993657" data-ad-format="auto" data-full-width-responsive="true" data-adsbygoogle-status="done"><ins id="aswift_3_expand" style="display: inline-table; border: none; height: 252px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 302px; background-color: transparent;" tabindex="0" title="Advertisement" aria-label="Advertisement"><ins id="aswift_3_anchor" style="display: block; border: none; height: 252px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 302px; background-color: transparent; overflow: hidden;"><iframe id="aswift_3" name="aswift_3" style="left: 0px; position: absolute; top: 0px; border: 0px; width: 302px; height: 252px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="302" height="252" frameborder="0" src="https://googleads.g.doubleclick.net/pagead/ads?guci=2.2.0.0.2.2.0.0&amp;client=ca-pub-4937698584988968&amp;output=html&amp;h=250&amp;slotname=1199993657&amp;adk=395320192&amp;adf=3531516167&amp;pi=t.ma~as.1199993657&amp;w=302&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1610864631&amp;rafmt=1&amp;psa=1&amp;format=302x250&amp;url=http%3A%2F%2Fmeuip.com.br%2F&amp;flash=0&amp;fwr=0&amp;fwrattr=true&amp;rh=300&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;dt=1610864629654&amp;bpp=1&amp;bdt=7112&amp;idt=1497&amp;shv=r20210112&amp;cbv=r20190131&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3Db407855d6298a447-22604b1cc4b30014%3AT%3D1607009176%3ART%3D1607009176%3AS%3DALNI_MYI2mniZ2ZSIuEZQYMouIkiKEGzoQ&amp;prev_fmts=0x0%2C468x60%2C1037x280&amp;nras=1&amp;correlator=4162699945567&amp;frm=20&amp;pv=1&amp;ga_vid=590647657.1607009176&amp;ga_sid=1610864631&amp;ga_hid=67023592&amp;ga_fc=0&amp;u_tz=-180&amp;u_his=2&amp;u_java=0&amp;u_h=768&amp;u_w=1366&amp;u_ah=728&amp;u_aw=1366&amp;u_cd=24&amp;u_nplug=3&amp;u_nmime=4&amp;adx=1004&amp;ady=711&amp;biw=1351&amp;bih=656&amp;scr_x=0&amp;scr_y=0&amp;eid=42530671%2C21068769%2C21069109%2C21066973&amp;oid=3&amp;pvsid=3451862578047041&amp;pem=12&amp;rx=0&amp;eae=0&amp;fc=1920&amp;brdim=0%2C0%2C0%2C0%2C1366%2C0%2C1366%2C728%2C1366%2C656&amp;vis=1&amp;rsz=%7C%7CpeEbr%7C&amp;abl=CS&amp;pfx=0&amp;fu=8320&amp;bc=23&amp;ifi=3&amp;uci=a!3&amp;btvi=1&amp;fsb=1&amp;xpc=xvOmsSdN2L&amp;p=http%3A//meuip.com.br&amp;dtd=1504" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" data-google-container-id="a!3" data-google-query-id="CJKChLGqou4CFQvYWwodShoNpA" data-load-complete="true"></iframe></ins></ins></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
  </div>

  <div class="mb-3 bg-light rounded">
      <div class="card shadow mb-4" style="height: auto !important;">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Novidades</h6>
        </div>
        <div class="card-body" style="height: auto !important;">
          <p class="mb-0">Cadastra-se agora mesmo na nossa <b>Newslleter</b>, gratuitamente. Todos os dias as 08:00hrs informações, notificias sobre o mercado de cliptomoeda no mundo! <b>#</b>BoraJunto?  </p>
        </div>
      </div>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->