<div class="col-md-12">
  <div class="row card mb-4 shadow-sm position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <div class="icon-like">
          <span 
            data-toggle="tooltip" 
            data-placement="top"
            title="curtiu? :)"
            class="fa fa-thumbs-o-up"  aria-hidden="true"></span>
        </div>
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>

        <div class="row text-center icon-other">
          <div class="col-md-9 p-2 d-flex">
            <span
              data-toggle="tooltip" 
              data-placement="top"
              title="<%= "#{@posts.size} comentários" %>"
            >Comentários: <i class="fa fa-commenting-o" aria-hidden="true"></i></span>
          </div>
          <div class="col-md-3 p-2 d-flex">
            <span
              data-toggle="tooltip" 
              data-placement="top"
              title="Informação útil? Compartilhe! "
            >Compartilhe: <i class="fa fa-share-square-o" aria-hidden="true"></i></span>
          </div>
        </div>
        
    </div>
  </div>
</div>