<div class="container text-white h-100">
  <div class="align-items-center text-center pl-lg-5" style="padding-left: 0 !important;">
    <div class="col-md-12 mb-3">
      <ins class="adsbygoogle principal" style="margin: 20px auto; width: 99%; max-width: 970px;" data-ad-client="ca-pub-2647271778569712" data-ad-slot="6414851583" data-adsbygoogle-status="done">
          <ins id="aswift_3_expand" style="display: inline-table; border: none; height: 90px; margin: 0; padding: 0; position: relative; visibility: visible; width: 728px; background-color: transparent;">
              <ins id="aswift_3_anchor" style="display: block; border: none; height: 90px; margin: 0; padding: 0; position: relative; visibility: visible; width: 728px; background-color: transparent;">
                  <iframe
                      id="aswift_3"
                      name="aswift_3"
                      style="left: 0; position: absolute; top: 0; border: 0; width: 728px; height: 90px;"
                      sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                      width="728"
                      height="90"
                      frameborder="0"
                      src="https://googleads.g.doubleclick.net/pagead/ads?guci=2.2.0.0.2.2.0.0&amp;client=ca-pub-2647271778569712&amp;output=html&amp;h=90&amp;slotname=6414851583&amp;adk=3409701005&amp;adf=3370306056&amp;pi=t.ma~as.6414851583&amp;w=728&amp;lmt=1606545073&amp;rafmt=12&amp;psa=1&amp;format=728x90&amp;url=https%3A%2F%2Fdolarhoje.com%2Fbitcoin-hoje%2F&amp;flash=0&amp;wgl=1&amp;tt_state=W3siaXNzdWVyT3JpZ2luIjoiaHR0cHM6Ly9hZHNlcnZpY2UuZ29vZ2xlLmNvbSIsInN0YXRlIjowfSx7Imlzc3Vlck9yaWdpbiI6Imh0dHBzOi8vYXR0ZXN0YXRpb24uYW5kcm9pZC5jb20iLCJzdGF0ZSI6MH1d&amp;dt=1606545431209&amp;bpp=2&amp;bdt=2899&amp;idt=3&amp;shv=r20201112&amp;cbv=r20190131&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3D437f06ae5d14007e-22c92a9a03c5008a%3AT%3D1605926622%3ART%3D1605926622%3AS%3DALNI_Mb3Tf6IZG3JBlaFBM-_ohrtcBDTIg&amp;prev_fmts=728x90&amp;correlator=6350920509074&amp;frm=20&amp;pv=1&amp;ga_vid=1634902711.1605926621&amp;ga_sid=1606545431&amp;ga_hid=1004776436&amp;ga_fc=0&amp;iag=0&amp;icsg=133162&amp;dssz=14&amp;mdo=0&amp;mso=0&amp;u_tz=-180&amp;u_his=6&amp;u_java=0&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1920&amp;u_cd=24&amp;u_nplug=3&amp;u_nmime=4&amp;adx=589&amp;ady=488&amp;biw=1905&amp;bih=1008&amp;scr_x=0&amp;scr_y=412&amp;eid=21066434%2C21067981%2C21066973&amp;oid=3&amp;pvsid=3898686449679743&amp;pem=56&amp;rx=0&amp;eae=0&amp;fc=896&amp;brdim=1366%2C0%2C1366%2C0%2C1920%2C0%2C1920%2C1080%2C1920%2C1008&amp;vis=1&amp;rsz=%7C%7CpeE%7C&amp;abl=CS&amp;pfx=0&amp;fu=8448&amp;bc=31&amp;ifi=3&amp;uci=a!3&amp;fsb=1&amp;xpc=w6VF6HKxYn&amp;p=https%3A//dolarhoje.com&amp;dtd=38"
                      marginwidth="0"
                      marginheight="0"
                      vspace="0"
                      hspace="0"
                      allowtransparency="true"
                      scrolling="no"
                      allowfullscreen="true"
                      data-google-container-id="a!3"
                      data-google-query-id="CNDrwpDQpO0CFQznZAodkskHUw"
                      data-load-complete="true"
                  ></iframe>
              </ins>
          </ins>
      </ins>
    </div>
  </div>
</div>